<div class="uk-card uk-card-default uk-padding uk-box-shadow-large uk-border-rounded">
  <h4>My Student Card</h4>
  <div class="uk-flex uk-flex-center">
    <div class="uk-card-media-top uk-width-1-3">
      {{#if user.image}}
      <img src="{{user.image}}" alt="{{user.name}}">
      {{else}}
      <img class="uk-border-circle uk-padding-small"
        data-src="" width="300"
        height="300" alt="profile-image" uk-img>
      {{/if}}
      <div class="uk-flex">
        <h5 class="uk-card-title uk-text-primary">Nombre Apellido</h5>
        <p>This is a quote, This is a quote, This is a quote, This is a quote, This is a quote,This isa
          quote,This is a quote, This is a quote.</p>
        <span uk-icon="world" class="uk-padding-xsmall"></span>
        <span uk-icon="linkedin" class="uk-padding-xsmall"></span>
        <span uk-icon="github" class="uk-padding-xsmall"></span>
        <span uk-icon="behance" class="uk-padding-xsmall"></span>
        <span uk-icon="user" class="uk-padding-xsmall"></span>

      </div>

      <button
        class="uk-width-1-1 uk-button uk-button-primary uk-border-rounded uk-box-shadow-small uk-margin-small-top">
        Edit Student Card
      </button>

     
        <a class="" href="/outcomes-view">Search Students</a>
      

      <hr class="uk-divider-vertical">

      <div class="uk-width-expand uk-padding-small uk-align-center uk-align-right@m" uk-container-expand>
        <h5>ABOUT ME</h5>
        <strong>Why did you do Ironhack?</strong>
        <li>here goes an input</li>
        <strong>What do you look for in company culture?</strong>
        <li>here goes an input</li>
        <strong>Superpower and why?</strong>
        <li>here goes an input</li>

        <h5>MY PROJECTS</h5>
        <strong>Name of Project 1</strong>
        <li>Project description</li>
        <strong>Name of Project </strong>
        <li>Project description</li>
        <strong>Name of Project 1</strong>
        <li>Project description</li>

        <h5>MY SOFT SKILLS</h5>
        <li>Keywords</li>

        <h5>HARD SKILLS / TECHNOLOGIES</h5>
        <li>Keywords</li>
      </div>
    </div>
  </div>
</div>