<section class="uk-section">
  <div class="uk-container">
    <div class="uk-flex uk-flex-center">
      <form action="/auth/resgister" class="uk-text-center" method="POST">
        <h2>{{action}}</h2>
        <div class="uk-margin">
          <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: user"></span>
            <input name="email" class="uk-input" type="email" placeholder="example@example.com">
          </div>
        </div>

        <div class="uk-margin">
          <div class="uk-inline">
              <span class="uk-form-icon" uk-icon="icon: lock"></span>
              <input name="password" class="uk-input" type="password" placeholder="Ironhackerpassword">
          </div>
        </div>

        <button class="uk-button uk-button-primary">{{action}}</button>

      </form>
    </div>
  </div>
</section>