<h1>{{title}}</h1>
<p class="uk-flex uk-flex-center uk-text-large uk-text-capitalize uk-text-secondary">Welcome to
    {{title}}</p>

<div class="uk-flex uk-flex-center">
    <div class="">
        <img src="https://ph-files.imgix.net/43678140-24eb-418f-89ce-12459dd395f7?auto=format" alt="" width="310" height="310">
    </div>
</div>