<h1>{{title}}</h1>
<p class="uk-grid uk-flex uk-flex-center uk-text-large uk-text-capitalize uk-text-secondary">
    {{title}}</p>

<div class="uk-grid uk-position-center uk-margin-small-top">
    <div class="">
        <img src="/images/IH_BLUE-LOGO_600x600.png" alt="" width="600" height="600">
    </div>
</div>