<h1>{{title}}</h1>
<p class="uk-grid uk-flex uk-flex-center uk-text-large uk-text-capitalize uk-text-secondary">
    {{title}}</p>

<div class="uk-grid uk-flex uk-flex-center">
    <div class="">
        <img src="https://cdn-images-1.medium.com/max/1200/1*69RcxrWXuk385lSxkIYYLA.png" alt="" width="550" height="550">
    </div>
</div>