  <section class="uk-section">
  <div class="uk-container">

    <form>
      <fieldset class="uk-fieldset">

        <legend class="uk-legend">Find Student by Criteria</legend>

        <div class="uk-margin">
          <select class="uk-select">
            <option>Option 01</option>
            <option>Option 02</option>
            <option>Option 03</option>
            <option>Option 04</option>
            <option>Option 05</option>
            <option>Option 06</option>
          </select>
        </div>

      </fieldset>
    </form>

    <div class="uk-margin"></div>

    <div class="uk-grid-match uk-child-width-1-4 uk-grid-small" uk-grid>
      {{!-- {{#each properties as |property|}}
      {{> propertyCard property }}
      {{/each}} --}}

      <div class=" uk-flex-inline">
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top student-media" style="background-image:url(images/DylanTorres.jpeg)">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title">Media Top</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
      </div>

      <div class=" uk-flex-inline">
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top student-media" style="background-image:url(images/DylanTorres.jpeg)">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title">Media Top</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
      </div>

      <div class=" uk-flex-inline">
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top student-media" style="background-image:url(images/DylanTorres.jpeg)">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title">Media Top</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
      </div>

      <div class=" uk-flex-inline">
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top student-media" style="background-image:url(images/DylanTorres.jpeg)">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title">Media Top</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
      </div>

      <div class=" uk-flex-inline">
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top student-media" style="background-image:url(images/DylanTorres.jpeg)">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title">Media Top</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
      </div>

      <div class=" uk-flex-inline">
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top student-media" style="background-image:url(images/DylanTorres.jpeg)">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title">Media Top</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
      </div>

      <div class=" uk-flex-inline">
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top student-media" style="background-image:url(images/DylanTorres.jpeg)">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title">Media Top</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>