<section>
  <div class="container">
    <div class="uk-width-2-3 uk-align-center">
      <div class="uk-card uk-card-default uk-padding">
        <form class="uk-form-stacked" action="/sboard/{{this._id}}/edit" method="POST">
          <h3>Complete Your Student Card</h3>

          <div class="uk-margin">
            <h4 class="uk-text-primary">ABOUT ME</h4>
            <label class="uk-form-label" for="form-stacked-text">Share a quote that represents you</label>
            <div class="uk-form-controls">
              <input class="uk-input" id="form-stacked-text" type="text" placeholder="Some text...">
            </div>
          </div>

          <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">Why did you do Ironhack?</label>
            <div class="uk-form-controls">
              <input name="whatdo" class="uk-input" id="form-stacked-text" type="text" placeholder="Some text...">
            </div>
          </div>

          <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">What do you look for in company culture?</label>
            <div class="uk-form-controls">
              <input class="uk-input" id="form-stacked-text" type="text" placeholder="Some text...">
            </div>
          </div>

          <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">What would be your Superpower and why?</label>
            <div class="uk-form-controls">
              <input class="uk-input" id="form-stacked-text" type="text" placeholder="Some text...">
            </div>
          </div>

          <div class="uk-margin">
            <h4 class="uk-text-primary">MY PROJECTS</h4>
            <label class="uk-form-label" for="form-stacked-text">Project M1</label>
            <div class="uk-form-controls">
              <input class="uk-input" id="form-stacked-text" type="text" placeholder="Describe your project">
              <input class="uk-input" id="form-stacked-text" type="text" placeholder="URL to Github, Portfolio ">
            </div>
          </div>

          <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">Project M2</label>
            <div class="uk-form-controls">
              <input class="uk-input" id="form-stacked-text" type="text" placeholder="Describe your project">
              <input class="uk-input" id="form-stacked-text" type="text" placeholder="URL to Github, Portfolio ">
            </div>
          </div>

          <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">Project M3</label>
            <div class="uk-form-controls">
              <input class="uk-input" id="form-stacked-text" type="text" placeholder="Describe your project">
              <input class="uk-input" id="form-stacked-text" type="text" placeholder="URL to Github, Portfolio ">
            </div>

            <div class="uk-margin">
              <h4 class="uk-text-primary">MY SOFT SKILLS</h4>
              <label class="uk-form-label" for="form-stacked-text">List your top five skills</label>
              <div class="uk-form-controls">
                <div class="uk-child-width-1-5@m uk-grid-match" uk-grid>
                  <div class=" uk-flex-inline">
                    <input class="uk-input" id="form-stacked-text" type="text" placeholder="Some text...">
                  </div>
                  <div class=" uk-flex-inline">
                    <input class="uk-input" id="form-stacked-text" type="text" placeholder="Some text...">
                  </div>
                  <div class=" uk-flex-inline">
                    <input class="uk-input" id="form-stacked-text" type="text" placeholder="Some text...">
                  </div>
                  <div class=" uk-flex-inline">
                    <input class="uk-input" id="form-stacked-text" type="text" placeholder="Some text...">
                  </div>
                  <div class=" uk-flex-inline">
                    <input class="uk-input" id="form-stacked-text" type="text" placeholder="Some text...">
                  </div>
                </div>
              </div>
            </div>

            <div class="uk-margin">
              <h4 class="uk-text-primary">ADITIONAL HARD SKILLS</h4>
              <label class="uk-form-label" for="form-stacked-text">List your top five hard skills</label>
              <div class="uk-form-controls">
                <div class="uk-child-width-1-5@m uk-grid-match" uk-grid>
                  <div class=" uk-flex-inline">
                    <input class="uk-input" id="form-stacked-text" type="text" placeholder="Some text...">
                  </div>
                  <div class=" uk-flex-inline">
                    <input class="uk-input" id="form-stacked-text" type="text" placeholder="Some text...">
                  </div>
                  <div class=" uk-flex-inline">
                    <input class="uk-input" id="form-stacked-text" type="text" placeholder="Some text...">
                  </div>
                  <div class=" uk-flex-inline">
                    <input class="uk-input" id="form-stacked-text" type="text" placeholder="Some text...">
                  </div>
                  <div class=" uk-flex-inline">
                    <input class="uk-input" id="form-stacked-text" type="text" placeholder="Some text...">
                  </div>
                </div>
              </div>
            </div>

            <div class="uk-margin">
              <h4 class="uk-text-primary">SOCIAL MEDIA</h4>
              <label class="uk-form-label" for="form-stacked-text">Link your Social Media</label>
              <div class="uk-form-controls">
                <div class="uk-child-width-1-5@m uk-grid-match" uk-grid>

                  <div class=" uk-flex-inline">
                    <div class="uk-inline">
                      <span class="uk-form-icon" uk-icon="icon: world"></span>
                      <input class="uk-input">
                    </div>
                  </div>
                  <div class=" uk-flex-inline">
                    <div class="uk-inline">
                      <span class="uk-form-icon" uk-icon="icon: linkedin"></span>
                      <input class="uk-input">
                    </div>
                  </div>
                  <div class=" uk-flex-inline">
                    <div class="uk-inline">
                      <span class="uk-form-icon" uk-icon="icon: github"></span>
                      <input class="uk-input">
                    </div>
                  </div>
                  <div class=" uk-flex-inline">
                    <div class="uk-inline">
                      <span class="uk-form-icon" uk-icon="icon: behance"></span>
                      <input class="uk-input">
                    </div>
                  </div>
                  <div class=" uk-flex-inline">
                    <div class="uk-inline">
                      <span class="uk-form-icon" uk-icon="icon: user"></span>
                      <input class="uk-input">
                    </div>
                  </div>

                </div>
              </div>
            </div>

        </form>
      </div>
    </div>
  </div>
</section>