 <div class="uk-container">
    <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
      <div class="uk-width-2-3"> 

        <div>
            <div>
            <h4>My Student Card</h4>

                <div class="uk-card uk-card-default uk-padding " height="400">
                     <div class="uk-inline uk-flex">

                         <div class="uk-card-media-top uk-width-1-3">
                            {{#if user.image}}
                             <img src="{{user.image}}" alt="{{user.name}}">
                             {{else}}
                            <img class="uk-border-circle uk-padding-small"
                            data-src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                            width="200" height="200" alt="profile-image" uk-img>
                             {{/if}}

                   <div class="uk-card-body">
                <h5 class="uk-card-title uk-text-primary">Nombre Apellido</h5>
                <input name="name" class="uk-input" type="text"  placeholder="Enter your name" value="{{user.name}}">
                <p>This is a quote, This is a quote, This is a quote, This is a quote, This is a quote, This is a quote,This is a quote, This is a quote,.</p>
                <span uk-icon="world" ></span>
                <span uk-icon="linkedin"></span>
                <span uk-icon="github"></span>
                <span uk-icon="behance"></span>
            </div> 
           </div class="uk-width-3-4">
            <hr class="uk-divider-vertical">
                <div uk-icon="file-edit" class="uk-position-top-right">Edit</div>
                <div class="uk-width-expand uk-padding-small"  uk-container-expand>
                    <h5>ABOUT ME</h5>
                    <strong>Why did you do Ironhack?</strong>
                    <li>here goes an input</li>
                    <strong>What do you look for in company culture?</strong>
                    <li>here goes an input</li>
                    <strong>Superpower and why?</strong>
                    <li>here goes an input</li>   

                    <h5>MY PROJECTS</h5>
                    <strong>Name of Project 1</strong>
                    <li>Project description</li>
                    <strong>Name of Project </strong>
                    <li>Project description</li>
                    <strong>Name of Project 1</strong>
                    <li>Project description</li>

                    <h5>MY SOFT SKILLS</h5>
                    <li>Keywords</li>

                    <h5>HARD SKILLS / TECHNOLOGIES</h5>
                    <li>Keywords</li>
                    </div>
            </div>    
                </div>

            </div>
        </div>

      </div>
    </div> 
 </div>

  <div class="uk-flex-right">
        <h4>My Checklist</h4>
        <div class="uk-overflow-auto">
    <table class="uk-width-1-3 uk-table uk-table-hover uk-table-middle uk-table-divider">
        <thead>
            <tr>
                <th class="uk-table-shrink"></th>
                <th class="uk-table-shrink">Preserve</th>
                <th class="uk-table-expand">Expand + Link</th>
                <th class="uk-width-small">Truncate</th>
                <th class="uk-table-shrink uk-text-nowrap">Shrink + Nowrap</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input class="uk-checkbox" type="checkbox"></td>
                <td><img class="uk-preserve-width uk-border-circle" src="images/avatar.jpg" width="40" alt=""></td>
                <td class="uk-table-link">
                    <a class="uk-link-reset" href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</a>
                </td>
                <td class="uk-text-truncate">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</td>
                <td class="uk-text-nowrap">Lorem ipsum dolor</td>
            </tr>
            <tr>
                <td><input class="uk-checkbox" type="checkbox"></td>
                <td><img class="uk-preserve-width uk-border-circle" src="images/avatar.jpg" width="40" alt=""></td>
                <td class="uk-table-link">
                    <a class="uk-link-reset" href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</a>
                </td>
                <td class="uk-text-truncate">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</td>
                <td class="uk-text-nowrap">Lorem ipsum dolor</td>
            </tr>
            <tr>
                <td><input class="uk-checkbox" type="checkbox"></td>
                <td><img class="uk-preserve-width uk-border-circle" src="images/avatar.jpg" width="40" alt=""></td>
                <td class="uk-table-link">
                    <a class="uk-link-reset" href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</a>
                </td>
                <td class="uk-text-truncate">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</td>
                <td class="uk-text-nowrap">Lorem ipsum dolor</td>
            </tr>
            <tr>
                <td><input class="uk-checkbox" type="checkbox"></td>
                <td><img class="uk-preserve-width uk-border-circle" src="images/avatar.jpg" width="40" alt=""></td>
                <td class="uk-table-link">
                    <a class="uk-link-reset" href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</a>
                </td>
                <td class="uk-text-truncate">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</td>
                <td class="uk-text-nowrap">Lorem ipsum dolor</td>
            </tr>
        </tbody>
    </table>
</div>
    </div>

